@import url(http://fonts.googleapis.com/css?family=Nova+Square);
body {
	font-family: sans-serif;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nova Square', cursive;
}
h1 {
	font-size: 4em;
	border-bottom: solid 3px #e74c3c;
}
h3 {
	font-size: 2em;
	border-bottom: solid 3px #2ecc71;
}
table {
	margin-left:auto; 
	margin-right:auto;
}
td {
	padding: 25px;
	text-align: center;
	width: 33.3%;
}
td.section-header {
	text-align: left;
	padding: 0px;
}
.loader {
	margin-left:auto; 
	margin-right:auto;
}
textarea {
	border-radius: 10px;
	resize: none;
	box-shadow: none;
	overflow: auto;
	padding: 10px;
}